*{
    padding:0;
    margin:0;
}
/* common css start here */

ul{
    margin:0;
    padding:0;
    list-style: none;
  }
  .color-white{
    color:#FFF;
  }
  a{
    text-decoration: none;
  }
 .common-heading h2{
    font-size:40px;
    font-weight: 500;
    color:#151D41;
    margin:30px 0;
}
.common-heading h2 span{
    color:#FF4030;
}
.common-heading p{
  color:#646464;
  font-size: 16px;
  padding:0 10%;
}

   


.banner-btn {
  height: 50px;
  width: 150px;
  border: none;
  outline: none;
  font-size: 17px;
  border-radius: 4px;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  margin-top:30px;
  background-color: #FF4030;
}
.banner-btn:hover {
  color:#FFF;
}
.banner-btn::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background-color: #151D41;
  color:#FFFFFF !important;
  content: "";
  border-radius: 4px;
}
.banner-btn:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/* common css end here */
/* about us section css start here */
.about-us-sec{
    background-color: #151D41;
    padding:40px 0;
}

.about-us-sec h1{
    font-size:45px;
    font-weight: 600;
    text-align: center;
    color:#FFF;
}
.breadcrumb-wrap{
    display: flex;
    justify-content: center;
}
.breadcrumb-wrap ol li a{
    color:#FFF;
    text-decoration: none;
}
/* about us section css end here */

/* blog list section css start here */

.bolg-list-sec{
  padding:50px 0;
  background-color:#f4f6f8;
}
.left-side .blog-wrap{
    margin-top: 50px;
    background-color: #FFF;
    border-radius: 10px;
}
.blog-wrap-col-first .blog-img{
  width:100%;
  border-radius: 10px 0 0 10px;
}

.blog-wrap-col-second .common-btn-blog {
  border: none;
  outline: none;
  background-color: #FF4030;
  border-radius: 30px 30px 30px 30px;
  padding: 6px 20px;
  color: #FFF;
}
.left-side .blog-wrap-col-second {
  padding: 30px 20px;
}
.blog-wrap-col-second h4{
  margin-top:20px;
}
.blog-wrap-col-second h4 a{
  color:#151D41;
  font-size: 24px;
 
}
.blog-wrap-col-second h4 a:hover{
  color:#FF4030;
}
.blog-wrap-col-second p{
  color:#646464;
  font-size: 16px;
  margin-top:20px;
  text-align: justify;
}
.blog-wrap-col-second .read-more-wrap{
  margin-top:45px;
  position: relative;
}
.read-more-wrap .read-more{
  text-decoration: none;
  color:#FF4030;
  font-size: 18px;
}
.read-more-wrap .fa {
  color: #FF4030;
  font-size: 19px;
  margin-right: 6px;
  transition: all 0.5s;
}
.blog-wrap-col-second:hover .fa{
    position: absolute;
    left:100px;
    top:5px;
    color:#151D41;
}
.blog-wrap-col-second:hover .read-more{
  color:#151D41;
}
.bolg-list-sec .right-side {
  margin-top: 50px;
  background-color: #FFF;
  padding: 30px 20px 40px 20px;
  margin-left: 25px;
}

.input-wrap .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #f4f6f8;
    outline: 0;
    box-shadow: none;
}
.input-wrap .form-control {
  height: 55px;
}
.input-wrap .input-group-text {
  background-color:#FFF;
}
.input-group-text .fa{
  color:#949494;
}
.right-side .popular-post-wrap{
  position: relative;
  margin-top:60px;
}
.post-wrap .post-img-wrap{
  width:70px;
}
.popular-post-wrap  .post-wrap{
  display: flex;
  margin-top:85px;
}
.post-wrap .post-common-img{
  width:100%;
  border-radius: 5px;
}
.post-wrap .post-content-wrap{
  margin-left:20px;
}
.post-content-wrap h6 a{
  color:#151D41;
  font-size: 18px;
}
.post-content-wrap p{
  color:#FF4030;
  font-size:16px;
}
.popular-post-wrap .post-wrap-2{
  margin-top:20px;
}

.recent-post{
  position: relative;
  margin-top:70px;
}
.recent-post h3{
  color:#151D41;
}
.recent-post h3::before{
  content: "";
  position: absolute;
  top:45px;
  left:0;
  width:30px;
  height:3px;
  background-color:#FF4030;
}
.recent-post ul{
  margin-top:70px;
}
.recent-post ul li{
  margin-top:13px;
}
.recent-post ul li a{
  font-size: 18px;
  font-weight: 500;
  color:#151D41;
}
.recent-post ul li a:hover{
  color:#FF4030;
}

.right-side .contect-wrap{
  margin-top:70px;
}
.common-input-wrap .contact-form-control{
  margin-top:30px;
  height: 50px;
}

.common-input-wrap .contact-form-control:hover{
  border:2px solid #151D41;
}
.common-input-wrap .contact-form-control:focus{
  color: #212529;
  background-color: #fff;
  border-color:#646464;
  outline: 0;
  box-shadow: none;
}
.common-input-wrap .text-area{
  height:80px;
}
.contact-second-col .form-wrap {
  margin-top:60px;
  padding:0 20px  20px 20px;
  background-color: #f4f6f8;
  border-radius: 10px;
  box-shadow: 0 5px 10px  rgb(21 29 65);
}
.tag-wrap .tab-btn{
  margin-top:80px;
}
.tab-btn a{
  color:#151D41;
  background-color: #FFF;
  width:100px;
  padding:10px;
  border:2px solid #151D41;
}

.tab-btn a:hover{
  background-color: #FF4030;
  color:#FFF;
}
.tag-wrap .tab-btn-2{
  margin-top:25px;
}
/* blog list section css end here */
